header.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
  .h4.my-0.me-md-auto.brand
    a.navbar-brand(href='/')
      img.d-inline-block.align-text-top(src=`/${config.contentDir}/images/squido.svg` alt='' width='70' height='70')
      | squido
  nav.my-2.my-md-0.me-md-3
    a.p-2.text-dark(href='/') Home
    a.p-2.text-dark(href='/about') About