<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <div class="h4 my-0 me-md-auto brand">
      <a class="navbar-brand" href="/">
          <img src="/content/images/squido.svg" alt="squido logo" width="70" height="70" class="d-inline-block align-text-top">{{config.name}}
      </a>
    </div>
    <nav class="my-2 my-md-0 me-md-3">
        <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="/api">API</a>
        <a class="p-2 text-dark" href="/about">About</a>
    </nav>
</header>