html {
    position: relative;
    min-height: 100%;
}

body{
    color: #454545 !important;
    margin-bottom: 80px;
}

a{
    color: #F95A77 !important;
    text-decoration: none !important;
}

a:hover{
    color: #FF96A9 !important;
    text-decoration: underline !important;
}

.btn-secondary {
    color: #ffffff !important;
}

.btn-outline-secondary {
    color: #ffffff !important;
    background-color: #F95A77 !important;
    border-color: #F95A77 !important;
}

.btn-outline-secondary:hover {
    color: #ffffff !important;
    background-color: #FF96A9 !important;
    border-color: #FF96A9 !important;
}

.jumbo-title {
    margin-top: 50px;
    font-size: 5.5rem;
    font-weight: 700;
}

.jumbo-subtitle {
    font-size: 3.0rem;
    font-weight: 700;
}

.article-title {
    font-size: 2.8rem;
    font-weight: 700;
}

h1, h2, h3, h4{
    color: #264653 !important;
    font-weight: 700; 
}

.brand a{
    color: #264653 !important;
    font-size: 2.8rem !important;
    font-weight: 700 !important;
}

main > .container {
    padding: 60px 15px 0;
}

.related-card-title{
    min-height: 100px;
}

.top-link {
    transition: all 0.25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 3em 3em 0;
    border-radius: 50%;
    padding: 0.25em;
    width: 80px;
    height: 80px;
    background-color: #F8F8F8;
}

.top-link.show {
    visibility: visible;
    opacity: 1;
}

.top-link.hide {
    visibility: hidden;
    opacity: 0;
}

.top-link i {
    font-size: 30px
}

.top-link:hover {
    background-color: #E8E8E8;
}

.top-link:hover i {
    fill: #000000;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 50px; /* Vertically center the text there */
    background-color: #f5f5f5;
}