<div class="row">
    <div class="w-100">
        <div class="input-group mb-3">
            <span class="input-group-text" id="titleAddon">Post title</span>
            <input type="text" class="form-control" id="post-title" value="{{post.title}}" aria-label="title" aria-describedby="titleAddon">
            <button id="save-post" class="btn btn-success float-end">Save post</button>
        </div>
    </div>
</div>
<textarea id="md-editor">{{post.markdown}}</textarea>
<input type="hidden" id="post-permalink" value="{{post.permalink}}">