<div class="row">
    <div class="col-md-6 offset-md-3 mt-5 mb-3">
        <div class="text-center">
            <img src="/content/images/squido.png" class="img-fluid" height="100" width="100" />
        </div>
        <h1 class="mt-5 text-center">404 - Page not found</h1>
    </div>
</div>