.row
  each post in posts
    .col-xs-12.col-sm-12.col-md-6.col-lg-4.col-xl-3.mb-4.d-flex.align-items-stretch
      .card.shadow-sm
        .card-body
          p.card-text
          h2
            a(href=`/${post.permalink}/`) #{post.title}
          p #{post.summary}
          p
          .d-flex.justify-content-between.align-items-center
            a.btn.btn-outline-secondary(href=`/${post.permalink}/`) Read more..